.nav-BG {
    background-color: #000324;
    align-items: end;
}

/* font family: Doris */
.white-text, 
.group1header,
.header-size,
.room-title,
.card-title,
.package-title,
h3,
.group5title,
.reserve-title {
    font-family: 'Dosis', sans-serif;
}

/* font family: Source Sans */
.group2text,
.bolded,
.card-list,
.reserves1,
.group4-text,
.group5-text,
.image-text,
.reserve-search,
.reserve-sumbmit,
.footer {
    font-family: 'Source Sans 3', sans-serif;
}

.white-text {
    color: white;
    font-size: 20px;
}

.reserve-btn {
    border: 2px solid #E5FEFF;
}

.group1BG {
    background-image: url(../assets/hotelMarkupAssets/header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.group1header {
    background-color: #000324;
    margin-top: 134px;
    margin-bottom: 134px;
    opacity: .8;
    color: #E5FEFF;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.group2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.header-size {
    font-size: 35px;
}

.group2text {
    font-size: 16px;
}

.group3BG {
    background-image: url(../assets/hotelMarkupAssets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.room-title {
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.card {
    border: none;
    border-radius: initial;
}

.card-img, .card-img-top {
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
}

.card-img-top {
    height: 190px;
}

.bolded {
    font-weight: bold;
    font-size: 16px;
}

.card-title {
    font-size: 25px;
}

.card-list {
    font-size: 16px;
}

ul li span {
    display: block;
    margin-left: -.5em;
}

.card-footer .btn-primary,
.card-body .btn-primary {
    padding-left: 40px;
    padding-right: 40px;
}

.reserves1 {
    border-radius: initial;
    align-items: end;
    font-weight: bold;
    font-size: 20px;
}

/* Group 4 styles */

.package-title {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

.package-text2 {
    margin-left: 70px;
}

.group4-text {
    font-size: 16px;
    color: #1A1B26;
}

.group5BG {
    background-image: url(../assets/hotelMarkupAssets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.group5title {
    font-size: 35px;
    color: #FFFFFF;
}

.group5-text {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 25px;
}

.group5img {
    display: flex;
    justify-content: center;
}

.align-pic {
    margin-left: 80px;
    margin-right: 80px;
}

.img-text {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 180px;
}

.group6BG{
    background-color: #000324 !important;
}

.group7BG {
    background-image: url(../assets/hotelMarkupAssets/hamsterreserve.jpg);
}

.reserve-title {
    color: white;
    font-size: 35px;
}

.reserve-search {
    color: #E5FEFF;
    font-size: 16px;
    padding: 0px 12px;
}

.room-margins {
    margin: 0px 0px 5px;
}

/* .no-padding {
    padding: 0px 0px;
} */


.input1 {
    display: flex;
    justify-content: start;
}

.reserve-submit {
    font-size: 20px;
    font-weight: bold;
    border-radius: initial;
}



.search-style {
    background-color: #EBEDFC;
    border: 1px solid #7A90D9;
    border-radius: initial;
    height: 44px;
}

.footer {
    background-color: #000324;
    color: #E5FEFF;
    font-size: 16px;
}