.nav-BG,
.menu-right {
    background-color: #000324;
}

.navbar-toggler {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}


.res-offcanvas-text {
    color: #FFFFFF;
}

.res-nav-title {
    font-size: 30px;
}

.res-nav-headers {
    font-size: 20px;
}

/* font family: Doris */
.res-offcanvas-text,
.white-text, 
.group1header,
.res-group1header,
.header-size,
.room-title,
.card-title,
.package-title,
h3,
.group5title,
.reserve-title {
    font-family: 'Dosis', sans-serif;
}

/* font family: Source Sans */
.group2text,
.bolded,
.card-list,
.reserves1,
.group4-text,
.group5-text,
.img-text,
.img-text-res,
.reserve-search,
.reserve-sumbmit,
.footer {
    font-family: 'Source Sans 3', sans-serif;
}

.text-center {
    text-align: center;
}

.white-text {
    color: #FFFFFF;
    font-size: 20px;
}

.reserve-btn {
    border: 2px solid #E5FEFF;
}

.group1BG {
    width: 100%;
    height: 500px;
    background-image: url(../assets/hotelMarkupAssets/header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 250%;
    background-position: 0% 55%;
}

.res-group1BG {
    width: 100%;
    height: 400px;
    background-image: url(../assets/hotelMarkupAssets/header.jpg);
    background-repeat: no-repeat;
    background-size: 105% 120%;
}

.group1header {
    background-color: #000324;
    margin-top: 134px;
    margin-bottom: 134px;
    opacity: .8;
    color: #E5FEFF;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.res-group1header {
    background-color: #000324;
    margin-top: 165px;
    margin-bottom: 100px;
    opacity: .8;
    color: #E5FEFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.opacity-1 {
    opacity: 1;
}

.gp1-text-res {
    font-size: 11px;
}

.group2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.cover-object {
    object-fit: cover;
}

.header-size {
    font-size: 35px;
}

.group2text {
    font-size: 16px;
}

.group3BG {
    background-image: url(../assets/hotelMarkupAssets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 170%;
    background-position: 0% 60%;
}

.room-padding {
    padding: 0px 7px;
}

.room-padding-xl {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 50px;
}

.room-title {
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.hidden {
    overflow: hidden;
}

.transform {
    transform: scale(1.5);
    object-fit: cover;
}

.card {
    border: none;
    border-radius: initial;
}

.card-img, .card-img-top {
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
}

.bolded {
    font-weight: bold;
    font-size: 16px;
}

.card-title {
    font-size: 25px;
}

.card-list {
    font-size: 16px;
}

.ftBG {
    background-color: white;
}

.ftborder {
    border: none;
}

.xl-beach-margin {
    margin-top: 0px;
}

.lg-beach-margin {
    margin-top: -36px;
}

.wrap-text {
    white-space: wrap;
}

.text-nowrap {
    white-space: nowrap;
}

.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-flow: row wrap;
}

.res-card {
    display: inline-block;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #cccccc;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #4377a1;
}


ul li span {
    display: block;
    margin-left: -.5em;
}

.card-lg-margin {
    margin-bottom: 100px;
}

.card-lg-padding {
    padding-bottom: 0px;
    
}

.card-footer .btn-primary,
.card-body .btn-primary {
    padding-left: 40px;
    padding-right: 40px;
}

.card-footer:last-child {
    border-radius: 0px;
}

.reserves1 {
    border-radius: initial;
    align-items: end;
    font-weight: bold;
    font-size: 20px;
}

/* Group 4 styles */

.package-title {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

.package-text2 {
    margin-left: 70px;
}

.group4-text {
    font-size: 16px;
    color: #1A1B26;
}

.group5BG {
    background-image: url(../assets/hotelMarkupAssets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 110% 200%;
    background-position: 70% 75%;
}

.group5BG-md {
    background-image: url(../assets/hotelMarkupAssets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 250% 250%;
    background-position: 70% 75%;
}

.group5title {
    font-size: 35px;
    color: #FFFFFF;
}

.group5-text {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 25px;
}

.pack-bluetxt {
    color: #1F51A8;
}

.packImg-lg1 {
    object-fit: cover; 
    object-position: 0% 0%;
}

.packImg-lg2 {
    object-fit: cover; 
    object-position: 0% 30%;
}

.packImg-lg3 {
    object-fit: cover; 
    object-position: 0% 70%;
}

.packImg-sm1 {
    object-fit: cover; 
    object-position: 60% 0%;
}

.packImg-sm2 {
    object-fit: cover; 
    object-position: 20% 70%;
}

.group5img {
    display: flex;
    justify-content: center;
}

.align-pic {
    margin-left: 80px;
    margin-right: 80px;
}

.align-pool {
    margin-left: 80px;
}

.img-text {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 180px;
}

.img-text-res {
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.valet-align {
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
}

.amenities-padding {
    padding: 0px 0px;
}

.carousel-inner>.carousel-item {
    width: 100%;
}

.arrow-right,
.arrow-left {
    margin-bottom: 150px;
}

.group6BG{
    background-color: #000324 !important;
}

.group7BG {
    background-image: url(../assets/hotelMarkupAssets/hamsterreserve.jpg);
}

.reserve-title {
    color: white;
    font-size: 35px;
}


.reserve-padding {
    padding-left: 0px;
    padding-right: 12px;
}

.reserve-search {
    color: #E5FEFF;
    font-size: 16px;
    padding: 0px 0px;
}

.input-wrap {
    display: flex;
    flex-flow: column wrap;
}

.room-margins {
    margin: 0px 0px 5px;
}



.input1 {
    display: flex;
    justify-content: start;
}

.reserve-submit {
    font-size: 20px;
    font-weight: bold;
    border-radius: initial;
}



.search-style {
    background-color: #EBEDFC;
    border: 1px solid #7A90D9;
    border-radius: initial;
    height: 44px;
}

.footer {
    background-color: #000324;
    color: #E5FEFF;
    font-size: 16px;
}

